/* Mobile */
.Card {
    width: 150px;
    min-width: 150px;
    background: transparent;
    border: none;
    overflow: visible;
    margin-left: 20px;
}

.PosterContainer {
    width: 100%;
    min-height: calc(150px * 1.5);
    height: calc(150px * 1.5);
    overflow: hidden;
    -webkit-box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
}

.Wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    display: inline-block;
}


.Poster {
    cursor: pointer;
    position: absolute;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    border: 0;
}

.Overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    opacity: 0;
    cursor: pointer;
    background-color: rgba(255,255,255,.19);
    transition: all 0.4s ease-in-out;
}
.Overlay:hover {
    opacity: 1;
}

.Col:focus {
    outline: none !important;
}

.CardBody {
    width: 100%;
    padding: 26px 10px 12px 0;
    position: relative;
    white-space: normal;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
}

.Title {
    font-weight: 600;
    font-size: 1em;
    overflow-wrap: break-word;
    padding: 0;
    box-sizing: border-box;
    margin: 0;

}

.Date {
    font-size: 1em;
    margin: 0;
    padding: 0;
    color: rgba(0,0,0,0.6);
    box-sizing: border-box;
}

.ImdbLink {
    text-decoration: none !important;
    color: inherit;
}
.ImdbLink:hover {
    color: inherit;
}















/* Desktop */
@media (min-width: 500px) {

    .Card {
        width: 150px;
        min-width: 150px;
        background: transparent;
        border: none;
        overflow: visible;
        margin-left: 20px;
    }
    
    .PosterContainer {
        width: 100%;
        min-height: calc(150px * 1.5);
        height: calc(150px * 1.5);
        overflow: hidden;
        -webkit-box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
        box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
    }
    
    .Wrapper {
        width: 100%;
        height: 100%;
        position: relative;
        top: 0;
        left: 0;
        display: inline-block;
    }
    
    
    .Poster {
        cursor: pointer;
        position: absolute;
        height: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        border: 0;
    }

    .PosterInfo i {
        color: #F5C518;
        padding-right: 5px;
    }



    .Rating {
        font-size: 15px;
        font-weight: 600;
    }

    .PosterInfo span {
        font-size: 12px;
        font-weight: 400;
    }

    .Votes {
        font-size: 12px;
        font-weight: 400;
        margin-left: 20px;
    }
    
    .Overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        opacity: 0;
        cursor: pointer;
        background-color: rgba(255,255,255,.19);
        transition: all 0.4s ease-in-out;
    }
    .Overlay:hover {
        opacity: 1;
    }
    
    .Col:focus {
        outline: none !important;
    }
    
    .CardBody {
        width: 100%;
        padding: 26px 10px 12px 0;
        position: relative;
        white-space: normal;
        display: flex;
        align-content: flex-start;
        flex-wrap: wrap;
    }
    
    .Title {
        font-weight: 600;
        font-size: 1em;
        overflow-wrap: break-word;
        padding: 0;
        box-sizing: border-box;
        margin: 0;
    
    }
    
    .Date {
        font-size: 1em;
        margin: 0;
        padding: 0;
        color: rgba(0,0,0,0.6);
        box-sizing: border-box;
    }



}