.Logo {
    background-color: transparent;
    padding: 8px;
    height: 100%;
    margin-right: 30px;
    width: 185px;
    box-sizing: border-box;
    border-radius: 5px;
}

.Logo img {
    width: 100%;
}