    /* Mobile */
    .ShuffleDiv {
        width: 100%;
    }
    
    .DivWrapper {
        width: 300px;
        min-width: 300px;
        background: transparent;
        border: none;
        overflow: visible;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        margin: 115px auto;
    }
    
    .LoadingWrapper {
        width: 300px;
        min-width: 300px;
        background-color: #f5f5f5;
        border: none;
        overflow: visible;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        margin: 115px auto;
    }


    .Poster {
        cursor: pointer;
        position: absolute;
        height: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        border: 0;
    }


    .PosterContainer {
        width: 100%;
        min-height: calc(300px * 1.5);
        height: calc(300px * 1.5);
        border-radius: 5px;
        overflow: hidden;
        -webkit-box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
        box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
        animation-name: fadeIn;
        animation-duration: 0.3s;
        animation-direction: alternate;
        animation-timing-function: ease-in-out;
    }



    .PosterLoading {
        width: 100%;
        min-height: calc(300px * 1.5);
        height: calc(300px * 1.5);
        border-radius: 5px;
        overflow: hidden;
        background-color: #f5f5f5;
        background-size: contain;
        background-repeat: none;
        -webkit-box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
        box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
        animation-name: sharpen;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: ease-in-out;
    }


    .PosterWrapper {
        width: 100%;
        height: 100%;
        position: relative;
        top: 0;
        left: 0;
        display: inline-block;
    }

    .OverlayContainer {
        position: relative;
        width: 70%;
        max-width:500px;
        height: auto;
        /* margin: auto;
        overflow: hidden; */
        border-radius: 10px;
    }

    .Overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        cursor: pointer;
        border-radius: 5px;
        background-color: rgba(255,255,255,.19);
        transition: all 0.4s ease-in-out;
    }

    .Overlay:hover {
        opacity: 1;
    }

    .Backdrop {
        height: calc(400px * 1.5);
        object-fit: cover;
        width: 100%;
        max-height: 100%;
        box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
        opacity: 0.7;
    }

    
    .Section {
        animation-name: fadeIn;
        height: calc(600px * .5625);
        width: 100%;
        animation-duration: 0.3s;
        animation-direction: alternate;
        animation-timing-function: ease-in-out;
    }
    
    .LoadingSection {
        background-color: #f5f5f5;
        animation-name: sharpen;
        height: calc(600px * .5625);
        width: 100%;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: ease-in-out;
    }

    /* Mobile */
    @media (min-width: 320px) {
    
        .DivWrapper {
            width: 200px;
            min-width: 200px;
        }
        
        .LoadingWrapper {
            width: 200px;
            min-width: 200px;
        }

        .PosterContainer {
            min-height: calc(200px * 1.5);
            height: calc(200px * 1.5);
        }

        .PosterLoading {
            min-height: calc(200px * 1.5);
            height: calc(200px * 1.5);
        }
            
    }
    
    
    
    /* Mobile */
    @media (min-width: 360px) {
        
        .DivWrapper {
            width: 250px;
            min-width: 250px;
        }
        
        .LoadingWrapper {
            width: 250px;
            min-width: 250px;
        }

        .PosterContainer {
            min-height: calc(250px * 1.5);
            height: calc(250px * 1.5);
        }

        .PosterLoading {
            min-height: calc(250px * 1.5);
            height: calc(250px * 1.5);
        }
           
    }
    
    
    
    









/*   Desktop  */
    @media(min-width: 500px) {

        .DivWrapper {
            width: 370px;
            min-width: 370px;
            margin: -19px auto;
        }

        .Section {
            height: calc(900px * .5625);
        }
    
        .LoadingSection {
            height: calc(900px * .5625);
        }

        .LoadingWrapper {
            width: 370px;
            min-width: 370px;
            margin: -19px auto;
        }
    
        .PosterLoading {
            min-height: calc(370px * 1.5);
            height: calc(370px * 1.5);
        }

        .PosterContainer {
            min-height: calc(370px * 1.5);
            height: calc(370px * 1.5);
        }
    
    }


    @media (min-width: 500px) {

        .OverlayContainer {
            width: 45%;
        }

    }


    @media (min-width: 1200px) {
        .ImageWrapper {
            margin: 0 auto;
        }
    }



    @keyframes fadeIn {
        from {
            filter: blur(8px);
        }
        to {
            filter: blur(none);
        }
    }

    @keyframes sharpen {
        0%   {filter: blur(none)}
        100% {filter: blur(8px)}
    }