
.OverviewDiv {
    position: relative;
}

.TitleContainer {
    background-color: #F5F5F5;
    border-radius: 5px;
}

.TitleWrapper {
    min-height: 58px;
    padding: 20px 16px 16px 16px;
    border-radius: 5px;
}

.Title {
    display: inline-block;
}

.Title h3 {
    margin-bottom: 0;
}

.Title p {
    font-size: 12px;
    margin-top: auto;
    margin-bottom: auto;
}


.RatingWrapper {
    float: right;
    position: relative;
    margin-left: 5px;
    width: 100px;
    z-index: 2;
}

.RatingWrapper i {
    float: left;
    font-size: 30px;
    margin-top: 5px;
    color: #F5C518;
}

.Rating {
    font-size: 11px;
    height: 40px;
    line-height: 13px;
    padding: 2px 0 0 34px;
}

.RatingValue {
    margin-bottom: -2px;
    white-space: nowrap;
}

.RatingValue strong {
    font-size: 24px;
    font-weight: normal;
    line-height: 24px;
}

.Grey {
    color: #6b6b6b;
    font-size: 10px;
}

.Overview {
    padding: 20px 16px 16px 16px;
}