
/* Mobile */
@media (min-width: 320px) {
    .MovieContainer {
        position: relative;
        height: 455px;
        padding-top: 97px;
    }
}

/* Mobile */
@media (min-width: 360px) {
    .MovieContainer {
        position: relative;
        height: 515px;
        padding-top: 135px;
    }
}

/* Mobile */
@media (width: 375px) and (height: 812px) {
    .MovieContainer {
        position: relative;
        height: 597px;
        padding-top: 134px;
    
    }
}

/* Mobile */
@media (width: 411px) and (height: 823px) {
    .MovieContainer {
        position: relative;
        height: 580px;
    }
}


/* Mobile */
@media (width: 411px) and (height: 731px) {
    .MovieContainer {
        position: relative;
        height: 560px;
    }
}

/* Mobile */
@media (min-width: 414px) and (height: 736px) {
    .MovieContainer {
        position: relative;
        height: 570px;
    }
}








/*   Desktop  */
@media (min-width: 500px) {

    .RandomMovieDiv {
        height: 100%;
        background: radial-gradient(circle, rgba(255,255,255,1) 58%, rgba(245,245,245,1) 86%, rgba(220,220,220,1) 100%);
    }

    .MovieContainer {
        position: relative;
        filter: none;
        padding-top: 130px;
        height: 770px;
    }

    .ImageWrapper {
        display: flex;
        justify-content: center;
        position: absolute;
        left: 0;
        right: 0;
        align-items: 100%;
        width: 95%;
        margin: 0 auto;
        height: center;
        max-width: 1200px;
    }

    .Load {
        display: flex;
        justify-content: center;
        position: absolute;
        left: 0;
        right: 0;
        align-items: 100%;
        margin: 0 auto;
        height: center;
        max-width: 1200px;
        animation: sharpen 0.8s both;
    }
}

@keyframes sharpen {
    from {
        filter: blur(50px);
    }
    to {
        filter: blur(none);
    }
}
