.HomeHero {
    position: relative;
}


.BackdropContainer {
    width: 100%;
    min-height: calc(38vw * 1.5);
    height: calc(38vw * 1.5);
    overflow: hidden;
    -webkit-box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
}

.Wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    display: inline-block;
}


.HomeHeroImg {
    cursor: pointer;
    position: absolute;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    border: 0;
}

.Overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    opacity: 0;
    cursor: pointer;
    background-color: rgba(255,255,255,.19);
    transition: all 0.4s ease-in-out;
}


.Overlay:hover{
    opacity: 1;
}


.PlayBtn {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 0px;
    position: absolute;
    bottom: 0;
    right: 0px;
    left: 0;
    height: 200px;
    background: linear-gradient(180deg, rgba(0,0,0,0.055059523809523836) 0%, rgba(0,0,0,1) 100%);
}

.PlayBtn i {
    font-size: 1rem;
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 1rem 1rem 1rem 1.2rem;
    line-height: 1;
    color: #fff;
    margin: 120px 0 0 15px;
}

.PlayBtnItems {
    margin-top: 120px;
}


.HomeHero .BackdropContainer .Wrapper:hover .PlayBtn i{
    transition: all 0.4s ease-in-out;
    color: #ffff00;
    border: 1px solid #ffff00;
    border-radius: 50%;
    padding: 1rem 1rem 1rem 1.5rem;
    line-height: 1;
}



.HeroTitle {
    font-size: 20px;
    color: #fff;
    margin-left: 20px;
}

.TrailerTitle {
    font-size: 15px;
    font-weight: 300;
    color: #fff;
    margin-left: 20px;
}


@media(min-width: 500px) {
    .BackdropContainer {
        width: 100%;
        height: calc(19vw * 1.5);
    }

    .PlayBtn i {
        font-size: 2rem;
        border: 1px solid #fff;
        padding: 1rem 1rem 1rem 1.5rem;
        margin: 80px 0 0 15px;
    }
    
    .PlayBtnItems {
        margin-top: 80px;
    }

    .HeroTitle {
        font-size: 34px;
    }
    
    .TrailerTitle {
        font-size: 20px;
    }
}

@media(min-width: 992px) {
    .BackdropContainer {
        width: 100%;
        min-height: calc(25vw * 1.5);
        height: calc(25vw * 1.5);
    }

    .PlayBtn i {
        font-size: 2rem;
        border: 1px solid #fff;
        padding: 1rem 1rem 1rem 1.5rem;
        margin: 80px 0 0 15px;
    }
    
    .PlayBtnItems {
        margin-top: 80px;
    }

    .HeroTitle {
        font-size: 34px;
    }
    
    .TrailerTitle {
        font-size: 20px;
    }
}


